.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
    padding: 4em;
    margin: 5em;
    display: -ms-flexbox;
    -webkit-box-pack:center;
    justify-content: center;
    flex-direction:column;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2em;
    width: 20em;
    height: 30em;
    background-color: #f1d03e;
  }
  
  .card:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
  }

.info{
  color: #6b705c;
  text-decoration: none;
}
h1{
  text-decoration: none;
}

.imageDog{
  border-radius: 8px;
}