.divLanding{
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-style: oblique;

}



.button {
    border-radius: 8px;
    background-color: #f1d03e;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    top:10%;
    left: 38%;
    position:absolute;
  }
  
  .button {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }
  
  .button :after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover {
    padding-right: 25px;
    
  }
  
  .button:hover:after {
    opacity: 1;
    right: 0;
  }